<div class="mx-auto max-w-3xl mt-24">
  <div class="mb-6">
    <h1 class="font-bold text-4xl">Plants</h1>
  </div>

  <div id="plants" class="divide-y list-none">
    <%= render @plants %>
  </div>
</div>